@tailwind base;
@tailwind components;
@tailwind utilities;
.num-input-spin-buttons[type='number']::-webkit-outer-spin-button,
.num-input-spin-buttons[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button !important;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: 0.75rem;
	opacity: 1;
}
.hide-num-input-spin-buttons[type="number"]::-webkit-inner-spin-button,
.hide-num-input-spin-buttons[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
}
